@{
    Layout = "_Layout";
}

<h1>Selamat datang di home page</h1>
    <p>Welcome to home page</p>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Selamat datang di home page</h1>
    <p>Welcome to home page</p>
</body>
</html> -->